    #calendar{ 
      max-width: 95%;
      max-height: 80%;
      margin: 1rem ;
      margin-right: 4rem;
      margin-left: 4rem;
      Width:100%;
      align: auto;
      
    }

    #leyendaAgenda{
      padding-top: 10rem;
      border-color: black;
    }

   #leyenda_1{
     background-color: #1cc961;
     color: #fff;
     
   }

   #leyenda_2{
    background-color: #d44f9f;
    color: #fff;
  }

  #cuadroLeyenda{
    margin-top: 20rem;
    margin-left: 5rem;
  }
  
  .leyenda_agenda{
    width: 7rem;
    height: 5rem;
    margin-top: 17rem;
  }

.tituloCalendario{
  text-align: center;
  padding-left: 3.5rem;
}


