/*
    CSS Navbar - Header
*/

* {
    font-family: "Maven Pro";
}



/* 
Disponible para Halloween 
html, body{
    background: #262627;
} 
*/

.navbar-brand .fa-heart {
    font-size: 35px;
    color: #484af0;
}

.navbar-nav .nav-item .nav-link {
    color: #626262;
    font-weight: 500;
}

.nav-item {
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler .fa-align-right {
    color: #b0b5c6;
    font-size: 30px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

#mobile-navbar {
    position: relative;
}

/* Css menu "mi cuenta" */
.dropdown-menu>li
{	position:relative;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
	cursor:pointer;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    display:none;
    margin-top: -1px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	border-left-color:#fff;
	box-shadow:none;
}
.right-caret:after
 {	content:"";
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid orange;
    display: inline-block;
    height: 0;
    opacity: 0.8;
    vertical-align: middle;
    width: 0;
	margin-left:5px;
}
.left-caret:after
{	content:"";
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-right: 4px solid orange;
    display: inline-block;
    height: 0;
    opacity: 0.8;
    vertical-align: middle;
    width: 0;
	margin-left:5px;
}

/* Fin css menu "mi cuenta" */
/*
    CSS Banner - Overlay
*/

.header {
    width: 100%;
    height: 100vh;
    background-image: url("/assets/img/fondo-c2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    width: 50%;
    height: auto;
    position: relative;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
    .header .title-1 {
        font-size: 35px !important;
    }

    .header .text-1 {
        font-size: 22px !important;
    }

    .inner {
        height: 40% !important;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .header {
        background-image: url("/assets/img/fondo-e.svg") !important;
    }

    .header .title-1 {
        font-size: 35px !important;
    }

    .header .text-1 {
        font-size: 22px !important;
    }

    .inner {
        height: 40% !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .header .title-1 {
        font-size: 40px !important;
    }

    .header .text-1 {
        font-size: 22px !important;
    }
}

@media only screen and (min-width: 1250px) {
    .header {
        background-position: bottom;
    }

    .header .text-1 {
        font-size: 22px !important;
    }
}

/*
    CSS Titulos - Subtitlos - Texto
*/

.avatar img {
    width: 100px;
}

/*
    CSS Listas
*/

.line {
    width: 50px;
    height: 5px;
    background-color: #f6f9ff;
}

.hero {
    height: 100%;
    background-size: cover;
    background-position: center;
}

.circle {
    height: 80px;
    width: 80px;
    background-color: rgba(72, 74, 240, 0.2);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    font-size: 40px;
    color: #484af0;
}

.avatar {
    height: 100% !important;
    width: 100% !important;
}

.mini-avatar {
    height: 25px !important;
    width: 25px !important;
}

.medium-avatar {
    height: 180px;
    width: 180px;
}

.dropbtn {
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    min-width: 240px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
    z-index: 1;
}

/* Links inside the dropdown */

.dropdown-content a,
.dropdown-content form a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.nav-item a:hover,
.dropdown-content a:hover,
.dropdown-content form button:hover {
    background-color: #fafafa;
    color: #484af0 !important;
    border-radius: 5px;
}

.nav-item a:hover i,
.dropdown-content a:hover i {
    color: #FFC400 !important;
}

.dropdown-content form button:focus {
    outline: none !important;
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}

/* Style the form */

/* Mark input boxes that gets an error on validation: */

.form-control.invalid {
    border-color: #e55a5a;
}

/* Hide all steps by default: */

.tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */

.step {
    height: 55px;
    width: 55px;
    background-color: #f6f9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: #9e9e9e;
}

/* Mark the active step: */

#nextBtn {
    color: white !important;
    font-size: 15px !important;
}

.step.active {
    background-color: #484af0;
    color: #ffffff;
}

.step.finish {
    background-color: #1cc961;
    color: #ffffff;
    transition: 0.3s;
}

.line.green {
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.form-inner {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.login-inner {
    height: 100vh;
    width: 100%;
    background-image: url("/assets/img/fondo-c.svg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.rating {
    width: 100%;
    text-align: center;
}

/* Style for Modal in Views create - Reseñas */
div.stars {
    display: inline-block;
    width: 100%;
}

input.star {
    display: none;
}

label.star.star-1,
label.star.star-2,
label.star.star-3,
label.star.star-4,
label.star.star-5 {
    width: 20%;
}

label.star {
    float: right;
    /* padding: 10px; */
    font-size: 30px;
    color: #9e9e9e;
    transition: all 0.2s;
}

input.star:checked ~ label.star:before {
    content: "\f005";
    color: #e55a5a;
    transition: all 0.2s;
}

input.star-5:checked ~ label.star:before {
    color: #ffc400;
    text-shadow: 0 0 15px #ffc400;
}

input.star-4:checked ~ label.star:before {
    color: #1cc961;
}

label.star:before {
    content: "\f006";
    font-family: FontAwesome;
}

.div-funcion {
    margin-top: 60px;

}


.contenedor {
    height: 300px;
    margin: 20px auto;
    padding: 25px;
    overflow: auto;
}


.contenedor::-webkit-scrollbar {
    width: 3px;
}

.contenedor::-webkit-scrollbar-thumb {
    background: #2160e6;
    border-radius: 3px;
}

.alert_ul {
    list-style: none;
    margin: 20px;
}

.wrap {
    width: 90%;
    max-width: 1000px;
}

.radio_button input[type="radio"] {
    display: none;
}

.radio_button label {
    color: #0074D9;
    padding: 5px 15px 5px 40px;
    display: inline-block;
    position: relative;
    font-size: 1em;
    border-radius: 3px;
    cursor: pointer;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.radio_button label:hover {
    background: rgba(0, 116, 217, 0.1);

}

.radio_button label::before {

    width: 17px;
    height: 17px;
    display: inline-block;
    background: none;
    border: 3px solid #0074D9;
    border-radius: 50%;
    position: absolute;
    left: 17px;
    top: 4px;
}

.radio_button input[type="radio"]:checked+label {
    padding: 5px 15px;
    background: #0074D9;
    border-radius: 2px;
    color: #fff;
}

.radio_button input[type="radio"]:checked+label:before {
    display: none;
}



/* Estilos para sección servicios */

.btn-right {
    float: right;
}

.descripcionS {
    height: 90px;
    max-height: 90px;
    resize: none;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

/* .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  } */

.panel {
}

.accordionIs {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordionIs:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel2 {
}

.panelIs {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.nav-link.active {
    background-color: #f6f9ff !important;
    color: #484af0 !important;
    border-radius: 5px !important;
}

.ulIs {
    list-style: circle;
}

.liIs {
    float: left;
    padding-right: 4%;
}

/*  .liIs::before {
        content: '\f042';   
    } */

.precios {
    display: none;
    width: 50%;
    float: right;
}

.ulIs {
    list-style: circle;
}

.liIs {
    float: left;
    padding-right: 4%;
}

.precios {
    display: none;
    width: 50%;
    float: right;
}

.divIsapre {
    display: none;
    float: left;
}

.tabEd {
    display: none;
}

.stepEd {
    height: 55px;
    width: 55px;
    background-color: #f6f9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: #9e9e9e;
}

/* Fin sección servicios */

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

/* COMIENZO ESTILOS FICHA CLÍNICA Y SESIONES */

.container_information {
    border-radius: 10px;
    border: 1px solid rgb(192, 192, 196);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, .15);
    position: relative;
    margin: 30px !important;
    padding: 20px;
    align-items: center;
}

.title_info {
    text-align: center;
}
.rounded-circle {
    /* width: 150px;
    height: 150px; */

    /* position: relative; */
    position: -webkit-sticky;
    position: sticky;
    left: 20px;
    top: 20px;
}

.btn-download-ficha{
    position: relative;
    top: 100px;
}

.col-6 {
    text-align: center;
}

.info_paciente{
    display: flex;
    flex-wrap: wrap;
}
.ctn_info_paciente{
    position: relative;
    min-width: 200px;
}
/* Ajustar texto cabecera diagnosticos */
.col {
    position: relative;
    top: 10px;
}

/* Botones diagnóstico psicológico y manuales diagnóstico */

.row_diagnostico_manual {
    display: flex;
    text-align: center;
    padding: 5px;
}
/* Botones diagnóstico psicológico y manuales diagnóstico */
/* Sección manuales diagnóstico */


.description {
    display: flex;
    text-align: center;
}
.evaluacion {
    display: block !important;
    margin: 10px;
    padding: 5px;
    text-align: center;
}

.evaluacion__1 {
    display: inline-block;
    margin: 8px;
}
.copyright {
    font-size: 9px;
}
/* Fin Sección manuales diagnóstico */


/* INICIO SESIONES */
.ctn_sesiones{
    display: flex !important;
    margin: 10px;

}
.fecha_sesion{
    border: 1px solid blue;
    border-radius: 15px;
}
.btn_sesiones{
    padding: 10px;
}
/* texto titulo */
.encabezado{
    font-size: 25px;
}

.lbl_comentarios{
    align-self: center;
    border: .5px solid rgb(118, 118, 122);
    border-radius: 5px;
    padding: 10px;
}
.btn_comentario{
    margin: 20px;
}
.color_radio{
    color: red;
}



.contenedor_sesiones{
    display: flex;
    flex-wrap: wrap;

}
.card{
    margin: 5px;

    position: relative;
}
.form_sesion{
    margin: 10px !important;
}
/* TÉRMINO SESIONES */


@media screen and (max-width: 700px) {
    .description {
        display: block;
    }
    .row_diagnostico_manual {
        display: block;
        text-align: center;
    }

    .evaluacion__1 {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        left: 0;
        right: 0;
    }
    .rounded-circle {
        top: 0;
    }
    .btn-download-ficha{
        top: 0;
    }
    .btn_accesos{
        margin: 10px ;
    }

}


/* TÉRMINO ESTILOS FICHA CLÍNICA Y SESIONES */

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

/* sera para la ventana del aceptar condiciones 
*/
.condiciones::-webkit-scrollbar {
    width: 3px;
}

.condiciones::-webkit-scrollbar-thumb {
    background: #2160E6;
    border-radius: 3px;
}

.condiciones {
    height: 300px;
    margin: 20px auto;
    padding: 25px;
    overflow: auto;
    text-align: justify;
}

.alineado {
    height: 300px;
    margin: 100px auto;
    padding: 25px;
    text-align: left;
}
/* Inicio sección Chat 06/11/2020 */
#cont-pChat{
    margin: 0;
    padding: 0;
}
.users{
    margin: 0;
    padding: 0;
}
.user{
    cursor: pointer;
    position: relative;
    list-style: none;
}
.user:hover{
    background: #eeeeee;
}
.user:active{
    margin-bottom: 0;
}
.pending{
    position: absolute;
    background: #FFBB00;
    margin: 0;
    border-radius:50%;
    width: 20px;
    height: 20px;
    line-height: 18px;
    padding-left: 6px;
    color: #FFFFFF;
    font-size: 15px;
}
.media-left{
    margin: 5px;
}
.media-left img{
    width: 50px;
    border-radius: 50px;
}
.media-body p{
    margin: 20px 10;
}
.message{
    list-style:none;
}
.messages .message{
    margin-bottom: 15px;
    margin-right: 35px;
}
.messages .message:last-child{
    margin-bottom: 0;
}
.received, .sent{
    width: 45%;
    padding: 5px 15px ;
    border-radius: 20px;
    position: relative;
}
.received{
    background: #FFFFFF;
    text-align: left;
    color: rgb(0, 0, 0);
}
.received::before{
    content: ' ';
	position: absolute;
    left: -15px;
	right: auto;
    top: 0px;
	border: 20px solid transparent;
	border-color: #FFFFFF transparent transparent;
}
.sent{
    background: #E2FFC7;
    float:right;
    text-align:right;
    color: rgb(0, 0, 0);
}
.message p{
    margin: 5px 0;
}
.date{
    color: #707583;
    font-size: 12px;
    padding: 5;
}

.color{
    position: absolute;
    left: 20px;
    top: 30.5px;
    background: #1CC961;
    margin: 0;
    border-radius:50%;
    width: 14px;
    height: 14px;
    line-height: 18px;
    padding-left: 5px;
    color: #FFFFFF;
    font-size: 12px;
}
.colors{
    position: absolute;
    top: 30.5px;
    background: #FF4343;
    left: 20px ;
    margin: 0;
    border-radius:50%;
    width: 14px;
    height: 14px;
    line-height: 18px;
    padding-left: 5px;
    color: #FFFFFF;
    font-size: 12px;
    padding: 5;
}
#cont-chat{
    background-image: url("/assets/img/background.jpg");
}
.message-wrapper::-webkit-scrollbar {
    width: 3px;
}
.message-wrapper::-webkit-scrollbar-thumb {
    background: #0c9588;
    border-radius: 3px;
}
#cont-pChat::-webkit-scrollbar {
    width: 3px;
}
#cont-pChat::-webkit-scrollbar-thumb {
    background: #0c9588;
    border-radius: 3px;
}

#title-Name {
    line-height: 38px;
}

/* Ajustes para vista chat escritorio */
#container-users .card, #container-messages .card {
    height: 100vh;
}

#container-messages {
    margin-left: 0px;
}

.message-wrapper {
    height: 70%;
}

#container-chat #app .col-md-4 {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
#container-chat #app .col-md-8 {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

@media (max-width: 767px) {
    .received, .sent {
        font-size: 17px;
        width: 70%;
    }

    .sent {
        margin-right: -12%;
    }

    .messages {
        padding-left: 3%;
        padding-right: 7%;
    }

    .date {
        font-size: 9px;
    }

    #txtChat, #addFile, button[type='submit'] {
        font-size: 14px;
        size: 20px;
    }

    .menu, #cont-chat {
        height: 85vh !important;
    }

    #container-chat {
        margin-top: 0px !important;
    }

    #container-messages, #container-users {
        padding-left: 0px !important;
        padding-right: 0px !important;
        border: none !important;
    }

    .message-wrapper{
        height: 100% !important;
    }

    #contpChat {
        height: 92vh !important;
    }
}

.fontIco{
    height: 3rem;
    font-size: 105px;
}

.users li:hover{
    background: #d0e2d0;
    transition: .4s;
}

/* Fin sección Chat 06/11/2020 */

/* dashboard menu */
:root{
    --width:300px;
    --padding:10px;
    --bgcolor:rgb(52, 52, 52);
    --hovercolor:rgb(23,23,23);
    --width-collapsed:50px;
}
/* body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    margin-left: var(--width-collapsed);
} */
.body-expanded{
    
    margin-left: var(--width);
}
/* #main-container{
    color: blue;
} */
#sidemenu{
    background-color: var(--bgcolor);
    color: white;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
}
#sidemenu a{
    color: white;
    text-decoration: none;
}
/* header */
#sidemenu #header{
    box-sizing: border-box;
    border-bottom: solid 1px var(--hovercolor);
}
#sidemenu #header #title{
    box-sizing: border-box;
    overflow: hidden;
}
#sidemenu #header #title, #sidemenu #header #menu-btn{
    vertical-align: middle;
}

#sidemenu #header #menu-btn{
    display: inline-block;
}
#sidemenu #header #menu-btn{
    cursor: pointer;
    padding: 10px;
    width: var(--width-collapsed);
    box-sizing: border-box;
}
#sidemenu #header #menu-btn:hover{
    background-color: var(--hovercolor);
}

#sidemenu #header #menu-btn .btn-hamburger{
    background-color: #fff;
    width: 100%;
    height: 2px;
    margin: 5px 0;
}
/* perfil */

#sidemenu #profile{
    border-bottom: solid 1px var(--hovercolor);
    padding: var(--padding) 0;
    text-align: center;
}
#sidemenu #profile #photo{
    box-sizing: border-box;
    padding: var(--padding);
    margin: 0 auto;
}
#sidemenu #profile #photo img{
    border-radius: 50%;
    width: 60%;
}
#sidemenu #profile #photo, #sidemenu #profile #name{
    font-size: 24px;
    padding: var(--padding) 0;
    overflow: hidden;
}
/* item */
#sidemenu #menu-item{
    overflow: hidden;
}
#sidemenu #menu-item .item{
    width: var(--width);
}
#sidemenu #menu-item .item .icon{
    display: inline-block;
}
#sidemenu #menu-item .item .icon, #sidemenu #menu-item .item .title{
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
}
#sidemenu #menu-item .item a{
    display: block;
}
#sidemenu #menu-item .item a:hover{
    background-color: var(--hovercolor);
}
#sidemenu #menu-item .item .icon{
    box-sizing: border-box;
    padding: var(--padding);
    width: var(--width-collapsed);
}
#sidemenu #menu-item .item .icon i{
    width: 100%;
}
#sidemenu #menu-item .item .title{
    padding: var(--padding) 0;
}
#sidemenu #menu-item .item.separator{
    height: 1px;
    border-bottom: solid 1px var(--hovercolor);
    margin: 15px 0;
}
/* menu expanded */
.menu-expanded #header #title{
    display: inline-block;
    width: calc(100% - 60px);
    margin-right: -5px;
    padding: var(--padding);
}
.menu-expanded{
    width: var(--width);
    transition: all .3s;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.menu-expanded #header #title span{
    width: calc(var(--width) - var(--width-collapsed) - 5px);
    overflow: hidden;
    display: inline-block;
}
.menu-expanded #profile #photo{
    width:200px;
}
.menu-expanded #profile #name{
    width: 100%;
}
.menu-collapsed{
    transition: all .2s;
    width: var(--width-collapsed);
}
.menu-collapsed #header #title{
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}
.menu-collapsed #profile #name{
    display: none;
}
.menu-collapsed .item{
    width: 100px;
}
/* fin dashboard menu */
