/*
    CSS Tipografia
    Fuente: Maven Pro, licencia gratuita, desde Google Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.title-1,
.title-2,
.title-3,
.title-4 {
    font-family: 'Maven Pro', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    font-weight: bold !important;
}

.text-1,
.text-2,
.text-3,
.text-4,
.text-5 {
    /* font-family: 'Maven Pro', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    font-weight: 400 !important;
}

.title-1 {
    font-size: 45px !important;
}

.title-2 {
    font-size: 30px !important;
}

.title-3 {
    font-size: 22px !important;
}

.title-4 {
    font-size: 16px !important;
}

.text-1 {
    font-size: 25px !important;
}

.text-2 {
    font-size: 20px !important;
}

.text-3 {
    font-size: 18px !important;
}

.text-4 {
    font-size: 16px !important;
}

.text-5 {
    font-size: 14px !important;
}

.text-bold {
    font-weight: bold !important;
}

.icon {
    font-size: 17px !important;
}

.icon-md {
    font-size: 22px !important;
}

.text-medium {
    font-weight: 500 !important;
}
